html
<section class="section-cv">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="cv-sidebar">
          <div class="cv-photo">
            <img src="https://placehold.co/200x200" alt="Photo">
          </div>
          <div class="cv-contact">
            <ul>
              <li><i class="fa fa-phone"></i> +1 234 567 890</li>
              <li><i class="fa fa-envelope"></i> michelle.doeexample.com</li>
              <li><i class="fa fa-globe"></i> www.example.com</li>
            </ul>
          </div>
          <div class="cv-skills">
            <h4>Skills</h4>
            <ul>
              <li>User Experience Design</li>
              <li>User Interface Design</li>
              <li>Interaction Design</li>
              <li>Prototyping</li>
              <li>User Research</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="cv-content">
          <div class="cv-header">
            <h1>Michelle Doe</h1>
            <h2>UX/UI Designer</h2>
          </div>
          <div class="cv-summary">
            <p>UX/UI Designer with 5+ years of experience in creating user-centered digital products. Proven ability to design and develop innovative and engaging user interfaces. Passionate about creating products that are both beautiful and functional.</p>
          </div>
          <div class="cv-experience">
            <h4>Experience</h4>
            <ul>
              <li>
                <div class="cv-job-title">UX/UI Designer</div>
                <div class="cv-company">Example Company</div>
                <div class="cv-date">2016 - Present</div>
                <div class="cv-description">
                  <ul>
                    <li>Designed and developed user interfaces for a variety of digital products, including websites, mobile apps, and software applications.</li>
                    <li>Conducted user research to understand user needs and pain points.</li>
                    <li>Created prototypes and mockups to test and validate design concepts.</li>
                    <li>Worked closely with developers to implement designs.</li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="cv-job-title">UX Designer</div>
                <div class="cv-company">Another Company</div>
                <div class="cv-date">2014 - 2016</div>
                <div class="cv-description">
                  <ul>
                    <li>Designed and developed user interfaces for a variety of digital products, including websites, mobile apps, and software applications.</li>
                    <li>Conducted user research to understand user needs and pain points.</li>
                    <li>Created prototypes and mockups to test and validate design concepts.</li>
                    <li>Worked closely with developers to implement designs.</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="cv-education">
            <h4>Education</h4>
            <ul>
              <li>
                <div class="cv-degree">Master of Science in Human-Computer Interaction</div>
                <div class="cv-university">University of California, Berkeley</div>
                <div class="cv-date">2012 - 2014</div>
              </li>
              <li>
                <div class="cv-degree">Bachelor of Arts in Psychology</div>
                <div class="cv-university">University of California, Los Angeles</div>
                <div class="cv-date">2008 - 2012</div>
              </li>
            </ul>
          </div>
          <div class="cv-awards">
            <h4>Awards and Recognition</h4>
            <ul>
              <li>UX Designer of the Year, Example Company (2018)</li>
              <li>Best UX Design, Another Company (2016)</li>
              <li>Dean's List, University of California, Berkeley (2013)</li>
<button (click)="miMensajeEspecial('Upa cachete')">Contact Me</button>
